binds {

    Mod+O hotkey-overlay-title="Overview" repeat=false { toggle-overview; }
    Mod+Space hotkey-overlay-title="Launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Comma hotkey-overlay-title="Settings" { spawn-sh "noctalia msg settings-toggle"; }
    Mod+Shift+E hotkey-overlay-title="Session Menu" { spawn-sh "noctalia msg panel-toggle session"; }

    Mod+S hotkey-overlay-title="Control Center" { spawn-sh "noctalia msg panel-toggle control-center"; }

    Mod+Tab hotkey-overlay-title="Windows List" { spawn-sh "noctalia msg panel-toggle launcher /win";}
    Mod+Z hotkey-overlay-title="Zed Projects" { spawn-sh "noctalia msg panel-toggle launcher /zed";}
    // Mod+G { spawn-sh "noctalia msg panel-toggle launcher /gd";}
    Mod+M hotkey-overlay-title="YT-Music Panel" { spawn-sh "noctalia msg panel-toggle aabidk20/yt-music:panel";}
    Mod+G hotkey-overlay-title="Github Dashboard" { spawn-sh "noctalia msg panel-toggle shangshui0302/github-kanban:kanban";}
    Mod+Alt+L hotkey-overlay-title="Lock Screen" { spawn-sh "noctalia msg session lock"; }

    Mod+V hotkey-overlay-title="Clipboard" { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Mod+N hotkey-overlay-title="Notifications" { spawn-sh "noctalia msg panel-toggle control-center notifications"; }
    // Mod+M hotkey-overlay-title="Media" { spawn-sh "noctalia msg panel-toggle control-center media"; }
    Mod+Slash hotkey-overlay-title="Emoji" { spawn-sh "noctalia msg panel-toggle launcher /emo";}
    Mod+Shift+U hotkey-overlay-title="Random Wallpaper" { spawn-sh "noctalia msg wallpaper-random"; }
    Mod+Shift+C hotkey-overlay-title="Color picker" { spawn-sh "noctalia msg panel-toggle oldirtty/color_picker:panel"; }
    Mod+Alt+C hotkey-overlay-title="Calculator" { spawn-sh "noctalia msg panel-toggle yuuto/calculator:panel"; }
    Mod+Shift+W hotkey-overlay-title="Change Wallpaper" { spawn-sh "noctalia msg panel-toggle ashur-d/wallpaper-widget:hub"; }

    Mod+grave hotkey-overlay-title="Todo" { spawn-sh "noctalia msg panel-toggle nightwatch75/todo:panel "; }
    // Mod+Print hotkey-overlay-title="Record The Screen" { spawn-sh "noctalia msg panel-toggle noctalia/screenrecoreder:panel "; }

    // ---------------------------------------------------------
    // Plugin binds (v5)
    // ---------------------------------------------------------
    Mod+F1 hotkey-overlay-title="Edit Desktop Widgets" { spawn-sh "noctalia msg desktop-widgets-edit"; }
    Mod+F2 hotkey-overlay-title="Screen-Toolkit" { spawn-sh "noctalia msg plugin alexander/screen-toolkit:service all toggle"; }
    Mod+F3 hotkey-overlay-title="Screen Recording" { spawn-sh "noctalia msg plugin noctalia/screen_recorder:service all toggle"; }

    // Mod+P { spawn-sh "noctalia msg panel-toggle icefish/phone-connect:details";}
    // Mod+F5 { spawn-sh "kitty --class Keyboard -e ~/go/bin/ditto"; }
    Mod+Shift+Slash hotkey-overlay-title="Cheatsheet" { spawn-sh "noctalia msg panel-toggle blackbartblues/keymap:panel";}


    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+O { power-off-monitors; }
    Mod+C { center-column; }

    Mod+D { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+A { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Q repeat=true { close-window; }
    Mod+Shift+G { spawn "niri-float-sticky" "-ipc" "toggle_sticky"; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }


    Mod+Return { spawn-sh "kitty"; }
    Super+E { spawn "nautilus"; }
    Super+B { spawn "zen-browser"; }

    // Mod+Left hotkey-overlay-title="" { focus-column-left; }
    // Mod+Right { focus-column-right; }
    // Mod+Up    { focus-window-up; }
    // Mod+Down  { focus-window-down; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    // Mod+Home { focus-column-first; }
    // Mod+End  { focus-column-last; }

    // Mod+Shift+Left  { move-column-left; }
    // Mod+Shift+Right { move-column-right; }
    // Mod+Shift+Up    { move-window-up; }
    // Mod+Shift+Down  { move-window-down; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    // Mod+Shift+Home { move-column-to-first; }
    // Mod+Shift+End  { move-column-to-last; }



    Mod+1 repeat=false{ focus-workspace 1; }
    Mod+2 repeat=false{ focus-workspace 2; }
    Mod+3 repeat=false{ focus-workspace 3; }
    Mod+4 repeat=false{ focus-workspace 4; }
    Mod+5 repeat=false{ focus-workspace 5; }
    Mod+6 repeat=false{ focus-workspace 6; }
    Mod+7 repeat=false{ focus-workspace 7; }
    Mod+8 repeat=false{ focus-workspace 8; }
    Mod+9 repeat=false{ focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }

    // Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    // Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    // Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    // Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    // Mod+WheelScrollRight { focus-column-right; }
    // Mod+WheelScrollLeft  { focus-column-left; }

    Mod+Print {spawn-sh "bash -c 'if pgrep -x wf-recorder > /dev/null; then killall -SIGINT wf-recorder; else wf-recorder --audio=alsa_output.pci-0000_00_1f.3.analog-stereo.monitor -f ~/Videos/recording_$(date +%H-%M-%S).mp4; fi' && notify-send Recording";}
    Print { spawn-sh "noctalia msg screenshot-region"; }
    Ctrl+Print { spawn-sh "noctalia msg screenshot-fullscreen"; }
    Alt+Print  { screenshot-window; }


    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "noctalia msg mic-mute"; }


    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "noctalia msg brightness-down"; }

    XF86PowerOff         allow-when-locked=true { spawn-sh "noctalia msg panel-toggle session"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    Ctrl+Mod+Space       allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    Mod+Shift+M          allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    Mod+Shift+P          allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    Mod+Shift+N          allow-when-locked=true { spawn-sh "playerctl next"; }
    Mod+Shift+B          allow-when-locked=true { spawn-sh "playerctl previous"; }
}
