

// spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "noctalia"
spawn-sh-at-startup "niri-float-sticky"

// spawn-at-startup "bash" "-c" "systemctl --user import-environment XDG_MENU_PREFIX && kbuildsycoca6"

spawn-at-startup "bash" "-c" "wl-paste --type text --watch cliphist store &"
spawn-at-startup "bash" "-c" "wl-paste --type image --watch cliphist store &"
spawn-sh-at-startup "wl-clip-persist  --clipboard regular"



spawn-at-startup "bash" "-c" "gsettings set org.gnome.desktop.interface gtk-theme 'adw-gtk3-dark'"
spawn-at-startup "bash" "-c" "gsettings set org.gnome.desktop.interface icon-theme 'Colloid-Dark'"
// spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
