window-rule {
    background-effect {
        xray false
        blur false

    }

    popups {
    opacity 1.0
    }

    border {
        on
        width 1
        active-color   "#363636"
        inactive-color "#262626"
        urgent-color   "#ee5396"
    }

    shadow {
        // off
        // on
        softness 0
        spread 0
        offset x=0 y=10
        draw-behind-window false
        color "#33b1ff"
        inactive-color "#555555"
    }

    focus-ring{
        // on
        off
    }

    opacity 1.0
    draw-border-with-background false
    geometry-corner-radius 0
    clip-to-geometry true
}


window-rule {
  match app-id="dev.noctalia.Noctalia"
  opacity 1.0
  open-floating true
  border {
      off
  }
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}




window-rule {
    match app-id="foot"
    match app-id="kitty"
    match app-id="Alacritty"

    default-column-width  { proportion 0.5;}
}


window-rule {
    match app-id="firefox"
    match app-id="zen"
    // match app-id="vivaldi-stable"
    match app-id="chromium"
}

window-rule {
    match app-id=r#"Stacked Sprite Viewer$"#
    open-floating true
}

window-rule {
    match app-id=r#"Godot$"#
    opacity 1.0
}



/-window-rule {
    match app-id=r#"zen$"# title="^Parent process Browser Toolbox$"
    open-floating true

    min-width 1080
    max-width 1080
    min-height 500
    max-height 500
}




window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match title="^Picture in picture$"
    default-floating-position x=10 y=10 relative-to="bottom-right"

    open-floating true
    baba-is-float true

    min-width 560
    max-width 560
    min-height 315
    max-height 315

}

window-rule {
    match app-id=r#"Recordly$"#
    opacity 1.0
    border {
        on
    }
    background-effect {
        xray false
        blur false
        noise 0.0
        saturation 1.0
    }
    baba-is-float true
    default-floating-position x=10 y=10 relative-to="bottom-right"
}



window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="top-right"
}

window-rule {
    match app-id="Keyboard"
    opacity  0.75
    open-floating true
    geometry-corner-radius 15
    default-column-width { fixed 876; }
    default-window-height { fixed 522; }
    default-floating-position x=10 y=10 relative-to="bottom-right"

    background-effect {
        xray false
        blur true
        noise 0.1
        saturation 1
    }


}



// ── Floating apps ───────────────────────────────────────────────────────────
// Apps that work better as floating windows.
window-rule {
    match app-id="pavucontrol"
    open-floating true
}


window-rule {
    match app-id="nm-connection-editor"
    open-floating true
}

blur {
    off
    passes 2
    offset 6
    saturation 2.5
    noise 0.1
}
